
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.navBar{
    /* background-color: aqua; */
    height: 200px;
    width: 100%;
}

.upperNav{
    height: 70px;
    width: 100%;
    background-color: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}

.Contact{
    margin-left: 20px;
}

.lowerNav{
    height: 100px;
    /* background-color: blueviolet; */
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.upperNav i{
    font-size: 20px;
    color: rgb(0, 179, 250);

}

.Hiringbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    height: 38px;
    width: 70px;
    background-color:#e2ebf8;
    border-radius: 3px;
}

.upperNav div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #677788;
    /* gap: 20px; */
    /* background-color:palevioletred; */
    
}

.upperNav div ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.lowerNav img{
    height: 60px;
    /* width: 280px;     */
    /* background-color:burlywood */
    margin-left: 20px;
}

.lowerNav div ul{
    display: flex;
    gap: 40px;
    /* background-color: palegoldenrod; */
    list-style: none;
}

.signupbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100px;
    background-color: #21325b;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
}

.inrbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 50px;
    margin-left: 20px;
    background-color: #e2ebf8;
    border-radius: 3px;
    margin-right: 40px;
} 

.inrbtn i{
    color: black;
}

.cntnt{
      height: 700PX;
      width: 100%;
      /* background-color: aqua; */
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background: rgb(9,6,227);
      background: linear-gradient(204deg, rgba(43, 41, 167, 0.289) 16%, rgba(43, 41, 140, 0.295) 19%, rgba(255,218,185,0.20259927701549374) 35%, rgba(255,218,185,0.24461608373818278) 72%, rgba(255,218,185,0.3342519380799195) 97%, rgba(255,218,185,0.2642239268754377) 100%);
}


.leftcntnt{
    height:500px ;
    width: 50%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightcntnt{
    margin-top: 180px;
    height:500px ;
    width: 40%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.leftcntnt p{
    color: #424242b7;

}

input{
   width: 700px;
   height: 45px;
   border: 2px solid black;
   border-radius: 3px;
   /* background-color: green; */
}

.enterbtn{
    height: 45px;
    width: 350px;
    background-color:#21325b;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
}

.email{
    
    width: 100%;
    height: 60px;
    /* background-color: yellow; */
    display: flex;
    gap: 20px;
color:pe;
}

.para{
    /* background-color: pink; */
    width: 100%;
}

.image img{
   /* height: 70px; */
   width: 70%;
   /* background-color: aqua; */
   
}

.rightcntnt img{
    /* height: 80px; */
    width: 80%;
    background-color: orchid;
}


.cards{
    height: 400px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}

.c1{
    height: 90%;
    width: 17%;
    background-color:rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.c1 img{
    height: 60px;
}

.c1 p{
    width: 70%;
    color: #424242b7;
    text-align: center;
    /* background-color: blueviolet; */
}

.c1 h2{
    /* background-color: olive; */
    text-align: center;
    width: 80%;
}

.image{
    height: 80px;
    width: 100%;
    /* background-color: blue; */
}

.sentences{
    height: 220px;
    width: 100%;
    /* background-color: orchid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sentences p{
    font-size: 23px;
    color: #424242c4;
    width: 70%;
    text-align: center;
}

.sentences h1{
    font-size: 40px;
    width: 60%;
    text-align: center;
}

.box{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    /* background-color: orange; */
}

.leftbox{
    height:90%;
    width: 65%;
    /* background-color: orchid; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.rightbox{
    height:90%;
    width: 25%;
    display: flex;
    align-items: center;
    /* background-color: orchid; */
}

.leftbox img{
    height: 120px;
}

.rightbox img{
    /* margin-top: 150px; */
    height: 140px;
}

.blocks{
    height: 550px;
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.b11{
    height: 45%;
    width: 100%;
    /* background-color: orchid; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.b{
    height: 85%;
    width: 20%;
    background-color:black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.b img{
    height: 55px;
}

.b h4{
    font-weight: 400;
    text-align: center;
    
   
}

.center{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.productbtn{
    height: 50px;
    width: 200px;
    background-color:black;
    border-radius: 10px;
    /* margin-left: 400px; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.platform{
    height: 500px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
     
}

.platform img{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.experience{
    height: 900px;
    width: 100%;
    /* background-color:rgba(156, 189, 201, 0.144); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
    gap: 30px;
}

.paragraph{
    height: 300px;
    width:  100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    margin-left: 30px;
    border-collapse: collapse;
    width: 90vw;
    /* background-color: aqua; */
}

tr{
    height: 70px;
}

td img{
    height: 35px;
}

.mainlogo{
    height: 60px;
}



.pollprogress{
height: 30px;;
background-color:#B4C3CD;
border-radius: 5px;

}

.polls{
    display: flex;
    gap: 20px;
}


/* .logos{
    height: 400px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
} */

.paragraph h1{
    width: 50%;
    text-align: center;
}

.paragraph p{
    text-align: center;
    width: 50%;
    color:#424242c4;
}

/* .l1{
    height: 80px;
    width: 100%;
    background-color: palegreen;
    display: flex;
    gap: 90px;
    

} */

/* .l1 img{
    height: 60px;
} */

/* .icon{
    height: 100%;
    width: 20%;
    background-color: orchid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
} */

/* .graph1{
    height: 56%;
    width: 20%;
    background-color: green;
    margin-top: 10px;
    border-radius: 15px;
}  */

/* .graph2{
    height:56%;
    width: 43%;
    background-color: #B4C3CD;
    margin-top: 10px;
    border-radius: 15px;
} */

/* .graph3{
    height:56%;
    width: 48%;
    background-color: #B4C3CD;
    margin-top: 10px;
    border-radius: 15px;
} */
/* .graph4{
    height:56%;
    width: 50%;
    background-color: #B4C3CD;
    margin-top: 10px;
    border-radius: 15px;
} */

.score{
    height: 500px;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap:30px ;
}

.score img{
    width: 40%;
}

.map{
    height: 900px;
    width: 100%;
    /* background-color: slateblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.mapping{
    height: 70%;
    width: 90%;
    background-color:rgba(0, 0, 0, 0.899) ;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    color: white;
    border-radius: 20px;
}

.mapimg{
    height: 60%;
    width:100%;
    /* background-color: rgba(0, 0, 0, 0.899); */
    background-image:url(./assets/Map.png);
    background-size: cover;
    color: white;
    
    
}

.mapping h1{
    font-size: 38px;
    text-align: center;
    width: 55%;
    
}

.world{
    height: 220px;
    width: 100%;
    /* background-color: orchid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.world p{
    font-size: 16px;
    color: #424242dc;
    width: 70%;
    text-align: center;
}

.world h1{
    font-size: 40px;
    text-align: center;
}

.world h3{
    text-align: center;
    color: #424242be;
    width: 48%;
    font-weight: 400;
    font-size: 23px;
}

.icons{
    height: 300px;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.ico1{
    height: 150px;
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px ;
}

.ico2{
    height: 150px;
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px ;
}

.ico1 img{
    width:10% ;
}

.ico2 img{
    width: 10%;
}

.content{
    height: 400px;
    width: 100%;
    background-color: olivedrab;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.leftcontent{
    height: 90%;
    width: 40%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.leftcontent h1{
    /* text-align: center; */
}

.leftcontent p{
    width: 50%;
    /* text-align: center; */
}

.rightcontent{
    height: 92%;
    width: 37%;
    background-color: pink;
}

.explorebtn{
    margin-top: 16px;
    height: 18%;
    width: 40%;
    /* background-color: blue; */
    color: white;
    background-color: black;
    border-radius: 6px;
    display: flex;
    align-items:center ;
    justify-content: center;
    
}

.explorebtn p{
    /* background-color: red; */
    height: 60%;
    width: 70%;
}

.profile{
    height: 400px;
    width: 100%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle{
    height: 120px;
    width: 120px;
    /* background-color: orchid; */
    border-radius: 50%;
    background: url(./assets/shivamAhuja-transparent.png);
    background-size: cover;
}

.profile p{
    width: 51%;
    font-size: 20px;
    text-align: center;
}

.profile h5{
    color: #677788;
    font-weight: 400;
}

.profile h3{
    font-weight: 500;
    font-size: 20px;
}

.square img{
   width: 33%;
}

.square{
    margin-top: 20px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.166);
}





