*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body{
    background-color: rgb(242, 229, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.library{
    height:1000px;
    width: 550px;
    background-color: peachpuff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:5px solid skyblue;
    border-right:5px solid skyblue;
}

h1{
    color: rgb(3, 3, 91);
}

.a1{
   border-bottom:4px solid skyblue;
   border-right:4px solid skyblue;
   width: 95%; 
   height:30px;
   border-radius: 20px;
   border-top:0px  ;
   border-left:0px ;
}

.a2{
   border-bottom:4px solid skyblue;
   border-right:4px solid skyblue;
   width: 50%;
   height:30px;
   border-radius: 20px;
   border-top:0px  ;
   border-left:0px ;
}

.library h4{
    color:rgb(5, 5, 108);
}

.a3{
    width: 90%;
    height: 130px;
    border-radius: 30px;
    border: 0px;
}

.btnn{
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a4{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-top:0px  ;
    border-left:0px ;
    background-color: hotpink;
    border-bottom:4px solid skyblue;
    border-right:4px solid skyblue;
}
